<section class="planet container">
    <ul class="circle-wrapper">
        <!--        <% members.forEach(member => { %>-->
        <!--            <li class="circle">-->
        <!--                <img src="<%= member.avatar.url %>" alt=""/>-->
        <!--            </li>-->
        <!--        <% }) %>-->

        <li class="circle">


                <img src="/images/spiderman.png" alt="hero avatar">

        </li>
        <li class="circle">
            <button>
                <img src="/images/spiderman.png" alt="hero avatar">
            </button>
        </li>
        <li class="circle">
            <button>
                <img src="/images/spiderman.png" alt="hero avatar">
            </button>
        </li>
        <li class="circle">
            <button>
                <img src="/images/spiderman.png" alt="hero avatar">
            </button>
        </li>
        <li class="circle">
            <button>
                <img src="/images/spiderman.png" alt="hero avatar">
            </button>
        </li>
    </ul>
    <dialog id="dialogTest">
        <form method="dialog">
            <p>this is a test</p>
            <button id="closeButton">Close me</button>
        </form>
    </dialog>
    <button id="button">Click me</button>
</section>