<section class="heroes container">
    <ul>
        <li>
            <img src="/images/spiderman.png" alt="hero avatar">
        </li>
        <li>
            <img src="/images/spiderman.png" alt="hero avatar">
        </li>
        <li>
            <img src="/images/spiderman.png" alt="hero avatar">
        </li>
        <li>
            <img src="/images/spiderman.png" alt="hero avatar">
        </li>
        <li>
            <img src="/images/spiderman.png" alt="hero avatar">
        </li>
    </ul>
</section>