<section class="cardSection container">
    <ul>
        <li class="card">
            <article>
                <section>
                    <div>
                        <h2>Tristan Brattinga</h2>
                        <img src="/images/person.png" alt="" />
                    </div>
                    <ul>
                        <li>24 jaar oud</li>
                        <li>Amsterdam</li>
                        <li>CMD</li>
                        <li>01-01-2000</li>
                        <li>Front-end developer</li>
                    </ul>
                </section>
                <section>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna.</p>
                    <ul>
                        <li>Film</li>
                        <li>Film</li>
                        <li>Film</li>
                        <li>Film</li>
                        <li>Film</li>
                    </ul>
                </section>
            </article>
        </li>
        <li class="card">
            <article>
                <section>
                    <div>
                        <h2>Tristan Brattinga</h2>
                        <img src="/images/person.png" alt="" />
                    </div>
                    <ul>
                        <li>24 jaar oud</li>
                        <li>Amsterdam</li>
                        <li>CMD</li>
                        <li>01-01-2000</li>
                        <li>Front-end developer</li>
                    </ul>
                </section>
                <section>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna.</p>
                    <ul>
                        <li>Film</li>
                        <li>Film</li>
                        <li>Film</li>
                        <li>Film</li>
                        <li>Film</li>
                    </ul>
                </section>
            </article>
        </li>
        <li class="card">
            <article>
                <section>
                    <div>
                        <h2>Tristan Brattinga</h2>
                        <img src="/images/person.png" alt="" />
                    </div>
                    <ul>
                        <li>24 jaar oud</li>
                        <li>Amsterdam</li>
                        <li>CMD</li>
                        <li>01-01-2000</li>
                        <li>Front-end developer</li>
                    </ul>
                </section>
                <section>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna.</p>
                    <ul>
                        <li>Film</li>
                        <li>Film</li>
                        <li>Film</li>
                        <li>Film</li>
                        <li>Film</li>
                    </ul>
                </section>
            </article>
        </li>
        <li class="card">
            <article>
                <section>
                    <div>
                        <h2>Tristan Brattinga</h2>
                        <img src="/images/person.png" alt="" />
                    </div>
                    <ul>
                        <li>24 jaar oud</li>
                        <li>Amsterdam</li>
                        <li>CMD</li>
                        <li>01-01-2000</li>
                        <li>Front-end developer</li>
                    </ul>
                </section>
                <section>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna.</p>
                    <ul>
                        <li>Film</li>
                        <li>Film</li>
                        <li>Film</li>
                        <li>Film</li>
                        <li>Film</li>
                    </ul>
                </section>
            </article>
        </li>
        <li class="card">
            <article>
                <section>
                    <div>
                        <h2>Tristan Brattinga</h2>
                        <img src="/images/person.png" alt="" />
                    </div>
                    <ul>
                        <li>24 jaar oud</li>
                        <li>Amsterdam</li>
                        <li>CMD</li>
                        <li>01-01-2000</li>
                        <li>Front-end developer</li>
                    </ul>
                </section>
                <section>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna.</p>
                    <ul>
                        <li>Film</li>
                        <li>Film</li>
                        <li>Film</li>
                        <li>Film</li>
                        <li>Film</li>
                    </ul>
                </section>
            </article>
        </li>
    </ul>
</section>