:root {
    --font-size: 16px;
}

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html {
    font-size: var(--font-size); /*Variabele om de base font size in te stellen. In het geval van Chrome 1rem.*/
}

body {
    background-color: #35393C;
    position: relative;
    -webkit-font-smoothing: antialiased;
    color: white;
    font-family: Inter, sans-serif;
    background-image: url("../images/bg2.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/******************/
/* HELPER STYLING */
/******************/

.container {
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
    margin: 0 auto;
}

@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

@media (min-width: 1440px) {
    .container {
        max-width: 1440px;
        padding-right: 40px;
        padding-left: 40px;
    }
}

@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}

/******************/
/* HEADER STYLING */
/******************/

header nav {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

/*****************/
/* CARDS STYLING */
/*****************/

.cardSection {
    margin: 2rem 0;
}

.cardSection > ul {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-snap-align: start;
}

.card {
    border: 1px solid black;
    padding: 40px 20px;
    border-radius: 30px;
}


.card article section:first-of-type {
    display: flex;
}

.card article img {
    border-radius: 50px;
}

.card article section:first-of-type ul {
    text-align: end;
}

.card article ul li {
    white-space: nowrap;
    padding: 4px 0;
}

/*********************/
/* SEARCHBAR STYLING */
/*********************/

#searchBar {
    appearance: none;
    padding: 10px;
    border-radius: 40px;
    border: none;
    background-color: #D7D7D7;
    width: 100%;
}

.search button {
    appearance: none;
    padding: 10px 16px;
    border-radius: 40px;
    border: none;
    background-color: #3C71DA;
    color: white;
}

.search form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.search label {
    display: none;
}

/******************/
/* PLANET STYLING */
/******************/

.planet {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.planet img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.circle-wrapper {
    border-radius: 50%;
    position: relative;
    color: white;
    /*animation: rotate 30s linear infinite;*/
}

.circle-wrapper.crazy {
    animation-duration: .5s;
}

.circle {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin: -51px;
    background: blue;
    border-radius: 50%;
    border: 2px solid black;
    overflow: hidden;
    line-height: 100px;
    transform: rotate(calc(360deg / 5 * var(--count, 0))) translate(200px) rotate(calc(360deg / 5 * var(--count, 0) * -1));

    &:nth-of-type(1) {
        --count: 1;
    }

    &:nth-of-type(2) {
        --count: 2;
    }

    &:nth-of-type(3) {
        --count: 3;
    }

    &:nth-of-type(4) {
        --count: 4;
    }

    &:nth-of-type(5) {
        --count: 5;
    }
}

.circle img {
    display: block;
    /*animation: rotate 30s linear reverse infinite;*/
}

.circle-wrapper.crazy circle img {
    animation-duration: .5s;
}

@keyframes rotate {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/********************/
/* GO CRAZY STYLING */
/********************/

#goCrazy {
    appearance: none;
    border: none;
    background-color: white;
    border-radius: 50px;
    padding: 10px 20px;
    position: fixed;
    bottom: 20px;
    left: 20px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 800;
}

#goCrazy:hover {
    opacity: 0.8;
}