<!DOCTYPE html>
<html lang="en">
<head>
    <title>Team WAFS</title>
    <%- include('../partials/head'); %>
</head>
<body>
<div class="space"></div>
<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <%- include('../partials/avatars'); %>
    <button id="goCrazy">GO CRAZY</button>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>
<script src='/scripts/script.js'></script>
</body>
</html>